@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');


// fonts
$primaryFont:'Roboto', sans-serif;
$displayFont: 'Press Start 2P', cursive;


// -----colour variables-----

// text colours
$h1TextCol: #ffa600;
$buttonTextCol: #ffffff;
$displayTextCol:#ffffe0;

// border colour
$borderCol:#825024;

// Background Colours
$BackgroundColor: #E8D4AF;
$calcBodyBackground: #E19E41;
$displayBackground: #86B0A9;


// Button Colours
$opBtnCol: #D44A32;
$equalsBtnCol:#008000;
$equalsBtnActiveCol:#006400;
$numbBtnCol:#805025;

